<template name="index">
  <h1>Lab80 Lab</h1>
  <ul>
    <li><a href="/currentstate"><b style="color:red">Current State</b>:Blocked Subscriptions</a></li>
    <li><a href="/subswithunblock">Unblocked Subscriptions</a></li>
    <li><a href="/subswithunblockwithouthistory">Unblocked Subscriptions without history</a></li>
    <li><a href="/method">Method(Search source)</a></li>
    <li><a href="/unblockedmethod">Unblocked Method(Search source)</a></li>
    <li><a href="/methodwithouthistory">Method without history(Search source)</a></li>
    <li><a href="/pseudosub">pseudosub</a></li>
  </ul>
</template>
